body{
    background-color: rgb(233, 158, 158);
}
.green-buy{
    background-color: greenyellow;
    padding: 10px;
}
.red-sell{
    background-color: red;
    padding: 10px;
    }
.separate-list{
     display: flex; 
    justify-content:space-between;
    align-items:flex-start;
}
   .separate-list{
    display: flex;
    justify-content: space-between;
    align-items:flex-start;
   }
   .chart-area{
    width:50px;
    height:500px;
}
.right-panel{

    width:20%;
}

.left-panel{
    height: 500px
}