body{
    background-color: rgb(233, 158, 158);
}
.green-buy{
    background-color: greenyellow;
    padding: 10px;
}
.red-sell{
    background-color: red;
    padding: 10px;
    }
.separate-list{
     display: flex; 
    justify-content:space-between;
    align-items:flex-start;
}
   .separate-list{
    display: flex;
    justify-content: space-between;
    align-items:flex-start;
   }
   .chart-area{
    width:50px;
    height:500px;
}
.right-panel{

    width:20%;
}

.left-panel{
    height: 700px;
   align-items: ;
}
table{
    width: 500px;
}
.trade-history{
    display: flex;
    gap: 250px;      ### using gaps instead of justifying the space 
    
}
.chart-area{
    display: flex;
    justify-content:space-between ;
}